.icon {
  display: inline-block;
  position: absolute;
  height: 90px;
  width: 70px;
  
  /* border: 2px solid black; */
  /* z-index: 3; */
}

.icon:hover {
  cursor: pointer;
  border: 2px solid rgba(26, 177, 177, 0.315);
  background-color: rgba(0, 139, 139, 0.315);
  transform: translate(-2px, -2px);
}

.icon-img {
  height: 60px;
  width: 60px;
  margin: 5px;
  background-image: url(../../assets/profmecropped.png);
  background-size: 60px 60px;
}

.icon-img:hover {
  text-decoration: none;
}

.icon-text {
  font-size: .75rem;
  width: 100%;
  position: absolute;
  bottom: 2px;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

